.fdrr{ 
    flex-direction: row-reverse;
}
.bcyd{ 
    border-color:#fccf02
}
.bgcyd{ 
    background:#fccf02
}
.bgr1{
    background-image: linear-gradient(to right, #a31a1b, #f8a2d0);
}
.bb2cl1h{
    position: relative;
}
.bb2cl1h::after {
    content: "";
    position: absolute;
    bottom: 0%;
    transition: .5s;
    height: 2px;
    background:#8c0025;
    left: 50%;
    width: 0%
}
.bb2cl1h::before {
    content: "";
    position: absolute;
    bottom: 0%;
    transition: .5s;
    height: 2px;
    background:#8c0025;
    right: 50%;
    width: 0%
}
.bb2cl1h:hover::before{
    width: 50%;
}
.bb2cl1h:hover::after{
    width: 50%;
}
.bb2cl1::after {
    content: "";
    position: absolute;
    bottom: 0%;
    transition: .5s;
    height: 2px;
    background:#8c0025;
    left: 50%;
    width: 50%
}
.bb2cl1::before {
    content: "";
    position: absolute;
    bottom: 0%;
    transition: .5s;
    height: 2px;
    background:#8c0025;
    right: 50%;
    width: 50%
}
.wh70{
    width: 70px;
    height: 70px;
}
.sc12hc{
    overflow: hidden;
}
.sc12hc>*{
    transition: .5s;
}
.sc12hc:hover>*{
    transform: scale(1.2,1.2);
}
.truyCập {
    position: relative;
    overflow: hidden;
    
}
.truyCập:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(255, 255, 255, 0);
    transition: .5s;
}
.truyCập:hover::before{
    background:rgba(255, 255, 255, 0.596);
}
.truyCập::after{
    transition: .5s;
    content: "🔎 Truy cập";
    position: absolute;
    color: #fff;
    background:#8c0025;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    top: 100%;
    left: 50%;
    transform:translate(-50%,0%);
}
.truyCập:hover::after{
    top: 50%;
    transform:translate(-50%,-50%);
}
@media (max-width: 768px) {
    .ptb25-md{
        padding-top:25px;
        padding-bottom:25px;
    }
    .pb25-md{
        padding-bottom:25px;
    }
}
@media (max-width: 992px) {
    .ptb25-lg{
        padding-top:25px;
        padding-bottom:25px;
    }
    .pb25-lg{
        padding-bottom:25px;
    }
}
@media (min-width: 480px) {
    .dn-xs-{
        display: none;
    }
}
@media (max-width: 480px) {
    .ptb3-xs{
        padding-top:3px;
        padding-bottom:3px;
    }
}